.loader{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/img.jpg);
  background-size: cover;
  background-position: center;
 // animation: animateBg 5s linear infinite;
}
@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.login-from {
  width: 23%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(255,255,255,.5);
  background: transparent;
  backdrop-filter: blur(15px);
}
.main_toolbar {
  padding: 0;
  margin: 0;
}
.toolbar {
  background: red;
  text-align: center;
  font-size: 25px;
  height: 45px;
  line-height: 45px;
  width: 100%;
}
h2 {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  color: white;
}
.example-full-width {
  width: 100%;
  
}
.mat-mdc-text-field-wrapper {
    width: 100%;
    border: 2px solid white;}
    .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        padding-right: 0;
        border: 2px solid white;
    }





 .lb{
    color: white;
}
.content {
  padding: 10px;
}
.btn {
  margin-top: 5px;
  padding-right: 5px;
  border: 2px solid rgba(255,255,255,.5);
}
.anc1 {
  color: blue;
  text-decoration: none;
}
.btn_2 {
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid rgba(255,255,255,.5);
}
.anc2 {
  text-decoration: none;
  color: green;
}
.btn_3 {
  margin-top: 5px;
  margin-left: 8px;
  border: 2px solid rgba(255,255,255,.5);
}
.icon{
    color: white;
}
#submit{
    border: 2px solid rgba(255,255,255,.5);   
    color: white;
}
