// .kk{
//     width: 50%;
//     margin: auto;
//     height: 550px;
//     background: #ccc;
//     display: block;
//     text-align: center;
   
 

// }
.card{
    width: 50%;
    margin: auto;
    background: #ccc;
    height: 50%;
}
