.home{
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.example-form{
   
    margin: 0 10px
}
.state{
    margin-right: 10px;
}
.main{
    display: flex;

}
h2{
    text-align: center;
    background: yellow;
    border: 1px solid black;
}